{{define "head"}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
<meta name="robots" content="noindex">
<meta name="apple-mobile-web-app-capable" content="yes">
<link href="{{ "css/storm.css" | backend_url }}" rel="stylesheet" importance="high">
<link href="{{ "css/storm.css" | backend_url }}" rel="preload" as="style" importance="high">
<link href="{{ "css/winter.css" | backend_url }}" rel="stylesheet" importance="high">
<link href="{{ "css/winter.css" | backend_url }}" rel="preload" as="style" importance="high">
{{end}}