{{define "mainmenu"}}
<nav class="navbar control-toolbar navbar-mode-inline" id="layout-mainmenu" role="navigation">
    <div class="toolbar-item toolbar-primary">
        <div data-control="toolbar" data-use-native-drag="true">
            <a class="menu-toggle" href="javascript:;">
                <span class="menu-toggle-icon">
                    <i class="icon-bars"></i>
                </span>
                <span class="menu-toggle-title">
                    CMS
                </span>
            </a>

            <ul class="nav mainmenu-nav">
                <li class="active svg-icon-container svg-active-effects">
                    <a href="#">
                            <span class="nav-icon">
                                <i class=""></i>
                            </span>
                        <span class="nav-label">
                                Test 1
                            </span>
                    </a>
                </li>
                <li class="svg-icon-container svg-active-effects">
                    <a href="#">
                            <span class="nav-icon">
                                <i class=""></i>
                            </span>
                        <span class="nav-label">
                                Test 2
                            </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="toolbar-item toolbar-item-account">
        <ul class="mainmenu-toolbar">
            <li class="mainmenu-quick-action with-tooltip">
                <a href="#" title="">
                    Test
                </a>
            </li>
        </ul>
    </div>
</nav>
{{end}}