{{define "sidenav"}}
<div class="layout-cell layout-sidenav-container">
    <div class="layout-relative">
        <nav id="layout-sidenav"
                class="layout-sidenav bg-p"
                data-active-class="active"
                data-control="sidenav">
            <ul class="nav">
                <li class="active">
                <a href="#">
                    <span class="nav-label">
                                        Test 1
                                    </span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{end}}